.main {
  margin: 68px 12px 12px 12px;
}

.results {
  max-height: 275px;
}

.categories {
  display: flex;
  flex-direction: column;
  margin: 12px;
}

.categories:hover {
  transition: transform 0.2s ease-in-out;
}

.categories > li {
  margin-top: 12px;
}